.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;

}

*:focus {
    outline: none;
    box-shadow: none;
}

#form {
    width: 30rem;
    height: 33.5rem;
}

#form .col-2 {
    padding: 7px;
    width: 100%;
}


.submit {
    background-color: rgba(0, 123, 255);
}


.buttoncontainer * {
    padding-top: 30px;
    overflow: auto !important;
}

.left {
    padding: 7px;
    width: 45%;
    float: left !important;
}

.right {
    padding: 7px;
    width: 45%;
    float: right !important;
}


.error-required {
    color: red;
    float: right;
}

.error-required-half {
    color: red;
    float: right;
    font-size: 150%;
}

.error-required-two {
    color: red;
    float: right;
    font-size: 200%;
}

.label {
    font-size: 100%;
}

.label-half {
    font-size: 150%;
}

.label-two {
    font-size: 200%;
}


.error-suggestion-one {
    color: red;
    padding-left: 5px;
}

.error-suggestion-half {
    color: red;
    padding-left: 5px;
    font-size: 150%;
}

.error-suggestion-two {
    color: red;
    padding-left: 5px;
    font-size: 200%;
}

:host ::ng-deep .calendar-one .p-calendar .p-inputtext {
    font-size: 100% !important;
}

:host ::ng-deep .calendar-half .p-calendar .p-inputtext {
    font-size: 150% !important;
}

:host ::ng-deep .calendar-two .p-calendar .p-inputtext {
    font-size: 200% !important;
}

:host ::ng-deep .button-one .p-button {
    font-size: 100% !important;
}

:host ::ng-deep .button-half .p-button {
    font-size: 150% !important;
}

:host ::ng-deep .button-two .p-button {
    font-size: 200% !important;
}